body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}
/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

/*Header image */
.rotate {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  left: 50%;
}

/* Header section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-space {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-text {
  color: #8f8f8f;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  position: relative;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%; /*To make the image a circle */
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call-to-action section */

/* 
#footer {}*/

.social {
  margin: 20px 10px;
}

.copyright {
  color: #8f8f8f;
}

/* Max width refers to the sizes that are 1515 and below */
/* For tablet and mobile*/
@media (max-width: 768px) {
  .rotate {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title {
    text-align: center;
  }
}
/* For laptops */
@media (min-width: 992px) and (max-width: 1119px) {
  .rotate {
    position: absolute;
    transform: rotate(20deg);
    width: 40%;
    left: 50%;
  }
}
/* For my desktop and bigger */
@media (min-width: 1200px) {
  .rotate {
    position: absolute;
    transform: rotate(25deg);
    width: 30%;
  }
}
